{% extends 'base.html' %}


{% block body %}

<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Login</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" action="/login/" id="contactForm" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" name="uname" class="form-control" id="name" placeholder="Your User Name"
                            required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="password" name="pass1" class="form-control" id="name" placeholder="Password"
                            required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
 

                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Login</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock body %}