{% extends 'base.html' %}

{% load static %}

{% block body %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/shop/">Shop</a>
                    
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Order Id</th>
                            <th>Date</th>
                            
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Payment Mode</th>
                            <th>Views</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for i in data %}
                        <tr>
                            <td class="align-middle">{{i.o_id}}</td>
                            <td class="align-middle">{{i.odate.date}}</td>
                            <td class="align-middle">₹{{i.amount}}</td>
                            <td class="align-middle">{{i.ot_id}}</td>
                            <td class="align-middle">{{i.pay_type}}</td>
                            <td class="align-middle"><a href="/confirmorder/{{i.o_id}}" class="btn btn-sm btn-danger"><i class="fa fa-eye"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <!-- Cart End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    {% endblock body %}
